server:
  port: 8010

spring:
  kafka:
    producer:
      acks: all
      retries: 3
      bootstrap-serves: localhost:9092
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer